*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: rgb(17, 17, 65);
     color: rgb(255, 255, 255);
}
.background{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 8rem;
     max-width: 500px;
     justify-content: center;
     margin-left: 30rem;

}
.pro-box{
      border: 2px solid transparent;
     background-color: rgb(5, 11, 43);
     padding: 30px;
     border-radius: 25px;
     display: flex;
     margin-bottom: 3rem;
     justify-content: space-between;
     width: 100%;
     box-shadow: 0 8px 50px rgb(32, 52, 165);
     align-items: center;
}
.details{
     display: flex;
     justify-content: space-between;
     width:100%;
     gap: 2.5rem;
}
/*.details h1 {
     margin-bottom: 10px;
 }
.details p{
     display: flex;
     flex-direction: column;
}
*/
.text-wrap{
     display: flex;
     flex-direction: column;
     width: 100%;
}
.text-wrap p{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: rgb(31, 221, 37);
     text-shadow: 0 3px 15px rgb(154, 224, 156);
}
.text-wrap h1{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgb(255, 255, 255);
     text-shadow: 0 3px 15px rgb(101, 216, 237);
}
#numbers{
     width: 100px;
     height: 100px;
     background-color:rgb(140, 11, 195) ;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bold;
     box-shadow: 0 3px 25px rgb(169, 51, 219);
}
#loadbar{
     width: 100%;
     height: 10px;
     background-color: rgb(46, 64, 143);
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     border-radius: 10px;
     position: relative;
     
}
#progress{
     width: 0%;
     height: 10px;
     background-color: rgb(7, 155, 168);
     border-radius: 10px;
     transition: width 0.2s ease;
     box-shadow: 0 1px 10px rgb(55, 203, 216);
     position: absolute;
     left: 0;
}
form{
     display: flex;  
     gap: 15px; 
}
input{
     flex: 1;
     width: 400px; 
     height: 40px; 
     padding: 10px; 
     font-size: 16px; 
     border: 2px solid rgb(233, 216, 247);
     border-radius: 50px;
     box-sizing: border-box;
     background-color: rgb(233, 216, 247);
     box-shadow: 0 3px 15px rgb(232, 202, 244);
}
button{
     display: inline-block;
     outline: none;
     cursor: grab;
     text-align: center;
     justify-content: center;
     font-size: 15px;
     line-height: normal;
     border-radius: 500px;
     transition-property: background-color,border-color,color,box-shadow,filter;
     transition-duration: 0.5s;
     border: 1px solid transparent;
     letter-spacing: 2px;
     min-width: 40px;
     text-transform: none;
     white-space: normal;
     font-weight: 500;
     padding: 10px 48px;
     color:rgb(255, 250, 250);
     background-color: rgb(195, 55, 255);
     height: auto;
     box-shadow: 0 3px 15px rgb(186, 112, 218);
}
button:hover{
     background: rgb(64, 3, 90);
     text-shadow: 0 0 25px beige;
     transform:scale(0.2rem);
     color: beige;
     box-shadow: 0 8px 25px rgb(220, 157, 247);
}
.checkbox {
     width: 20px;
     height: 20px;
     margin-right: 10px;
 }
.taskitem{
     width: 100%;
     display: flex;
     background-color:  rgb(238, 200, 254);
     padding: 5px;
     border-radius: 10px;
     box-shadow: 0 3px 20px rgb(195, 55, 255);
     justify-content: space-between;
     align-items: center;
}
#tasklist{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px;
}
#tasklist li{
     list-style: none;
     text-align: justify;
     color: rgb(12, 3, 79);
     font-size: 1.5rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons img{
     margin-top: 0;
     cursor: pointer;
}
.icons img:hover{
     border-image: round;
}
.task{
     display: flex;
     align-items: center;
     gap: 10px;
}
.task input{
     width: 20px;
     height: 20px;
     
}
.task.completed p {
     text-decoration: line-through;
     color: rgb(10, 209, 23);
 }
.searchbox {
     margin-top: 0; 
     margin-left: 50rem; 
     display: flex;
     align-items: center;
     gap: 10px;
     position: absolute; 
     right: 30px; 
     top: 30px;
 }

#search{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 18px;
     font-weight: bold;
     color: rgb(255, 255, 255);
     text-shadow: 0 3px 15px rgb(101, 216, 237);
     margin-right: 10px;
}
